* {
    box-sizing: border-box;
    outline: none;
    
  }
  
  #root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
  }

  
  body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
      segoe ui, arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 14px;
    
  }
  body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .mainNavbar
  {
    position:relative;
    top:80vh;
    height: 5vh;
  }
  .mainNavList
  {
    position: relative;
  }
  .mainNavAnchor
  {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
  }
  
  #root:focus {
    outline: none;
  }

  a
  {
    text-decoration: none;
    color:gray
  }
  a:hover
  {
    color:white
  }
  ul{
    margin:0 auto;
  }
  .loading{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  .annotation {
    cursor: pointer;
    outline: none;
    border-style: solid;
    border-color: black;
    border-width: 0.1em;
    font-size: 8px;
    font-weight: 300;
    background: rgba(255, 255, 255, 0.767);
    color: #000000;
    padding: 0.5em;
    border-radius: 2em;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: ccmeanwhile, sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .center{
    margin:auto;
  }

  .blueback{
    background-color: #4D7C8A;
  }
  .brownback{
    background-color: #BC884E;
  }
  .whiteback{
    background-color: #F6E8EA;
  }
  .blackback{
    background-color: #22181C;
  }
  .redback{
    background-color: #5A0001;
  }

  .montserrat{
    font-family: 'Montserrat', sans-serif;
  }
  .notosans{
    font-family: 'Noto Sans', sans-serif;
  }
  .notosanskr{
    font-family: 'Noto Sans KR', sans-serif;
  }
  .robotoslab{
    font-family: 'Roboto Slab', serif;
  }
  .greycliff{
    font-family: greycliff-cf, sans-serif;
  }
  .meanwhile{
    font-family: ccmeanwhile, sans-serif;
  }
  .arbotek{
    font-family: arbotek, sans-serif;
  }
  .regular
  {
    font-weight: 400;
  }
  .bold
  {
    font-weight: 700;
  }
  .video2D{
  min-width: 100%; 
  min-height: 100%; 
  width: auto;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  object-fit: fill;
  overflow: hidden;
  transform: translate(-50%,-50%);
  z-index: 0;
  }

  .videoWrapper{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  .navbar-custom{
    max-width: 100%;
    overflow: hidden;
    z-index: 11;
  }
  
  .fullvisual{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .Head2D
  {
    font-size: 50vw;
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translate(25%,-50%);
    color: #FF7119;
  }

  .half2D{
    position:relative;
    top: 50%;
    font-size: 1.2em;
    color: #4D7C8A
  }

  @media only screen and (max-width: 992px){
    .half2D{
      text-align: center;
      position:relative;
      height: 100%;
      top: 50%;
      font-size: 1.2em;
      color: #4D7C8A;
      margin-bottom: 50%;
    }
  }
  
  .fullImgContainer{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  .fullImg{
    min-width: 100%; 
    min-height: 100%; 
    width: auto;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    object-fit: fill;
    overflow: hidden;
    transform: translate(-50%,-50%);
    z-index: 0;
  }
  .onTop2D
  {
    background-color: #3A3D34;
    height: 30%;
    width: 50%;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 80%;
  }
  .hideof{
    overflow: hidden;
  }
  
  