* {
    box-sizing: border-box;
    outline: none;
  }
  
  #root {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
      segoe ui, arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 14px;
  }
  
  .mainNavbar
  {
    position:relative;
    top:80vh;
    height: 5vh;
  }
  .mainNavList
  {
    position: relative;
  }
  .mainNavAnchor
  {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
  }
  
  #root:focus {
    outline: none;
  }

  a
  {
    text-decoration: none;
    color:gray
  }
  a:hover
  {
    color:white
  }
  ul{
    margin:0 auto;
  }
  .loading{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  .annotation {
    cursor: pointer;
    outline: none;
    border-style: solid;
    border-color: black;
    border-width: 0.1em;
    font-size: 8px;
    font-weight: 300;
    background: rgba(255, 255, 255, 0.767);
    color: #000000;
    padding: 0.5em;
    border-radius: 2em;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: ccmeanwhile, sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .center{
    margin:auto;
  }

  .blueback{
    background-color: #4D7C8A;
  }
  .brownback{
    background-color: #BC884E;
  }
  .whiteback{
    background-color: #F6E8EA;
  }
  .blackback{
    background-color: #22181C;
  }
  .redback{
    background-color: #5A0001;
  }

  .montserrat{
    font-family: 'Montserrat', sans-serif;
  }
  .notosans{
    font-family: 'Noto Sans', sans-serif;
  }
  .notosanskr{
    font-family: 'Noto Sans KR', sans-serif;
  }
  .robotoslab{
    font-family: 'Roboto Slab', serif;
  }
  .greycliff{
    font-family: greycliff-cf, sans-serif;
  }
  .meanwhile{
    font-family: ccmeanwhile, sans-serif;
  }
  .arbotek{
    font-family: arbotek, sans-serif;
  }